* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: rgb(116, 230, 230);
    font-size: 16px;
}

button:hover {
    background-color: rgb(99, 198, 198);
}

button:active {
    background-color: rgb(190, 190, 190);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 24px 36px;
}

.grid-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 4px 4px black;
}

.square {
    background-color: rgb(195, 195, 195);
    outline: 1px rgb(49, 49, 49) solid;
}

.square:hover {
    background-color: red;
}