* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big {
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px black;
    padding: 12px 24px;
    background-color: gray;
    font-size: 16px;
}

.big:hover {
    background-color: rgb(110, 110, 110);
}

.big:active {
    translate: 2px 2px;
    box-shadow: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 24px 36px;
}

.color-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue:hover {
    background-color: rgb(0, 0, 220);
}

.green:hover {
    background-color: rgb(0, 105, 0);
}

.red:hover {
    background-color: rgb(220, 0, 0);
}

.red:active {
    translate: 2px 2px;
    box-shadow: none;
}

.green:active {
    translate: 2px 2px;
    box-shadow: none;
}

.blue:active {
    translate: 2px 2px;
    box-shadow: none;
}

.current {
    translate: 2px 2px;
    box-shadow: none;
}

.grid-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 2px 2px black;
}

.square {
    outline: 1px rgba(49, 49, 49, 0.309) solid;
}